<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<host>
			<listener url="http://*:8080/" />
	</host>
	<plugins>
		<plugin name="pictures">
			<assembly path="..\..\..\Pictures\bin\Debug\Pictures.dll" />
			<!-- assembly path="Pictures.dll" /--><!-- on Linux -->
			<settings>
				<setting name="saveDirectory" value="D:\Pictures\" />
				<setting name="resource" value="pictures" />
			</settings>
		</plugin>
	</plugins>
</configuration>