<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="server.xsd">
  <host>
    <listener url="http://*:8080/" />
  </host>
  <plugins>
    <plugin name="UsersAndRights">
      <assembly path="..\..\..\UsersAndRights\bin\Debug\UsersAndRights.dll" />
      <!-- on Linux -->
      <!-- assembly path="UsersAndRights.dll" /-->
      <settings>
        <setting name="objectUser" value="object_user" />
        <setting name="user" value="user" />
      </settings>
    </plugin>
    <plugin name="pictures">
      <assembly path="..\..\..\Pictures\bin\Debug\Pictures.dll" />
      <!-- on Linux -->
      <!-- assembly path="Pictures.dll" /-->
      <settings>
        <setting name="saveDirectory" value="D:\Pictures\" />
        <setting name="resource" value="pictures" />
        <setting name="UsersAndRightsPlugin" value="UsersAndRights" />
      </settings>
    </plugin>
  </plugins>
  <dataBase>
    <connector assembly="MySql.Data.dll" type="MySql.Data.MySqlClient.MySqlConnection" />
    <connectionString value="Server=localhost;Port=3306;Database=REST;Uid=rest;Pwd=rest;" />
  </dataBase>
</configuration>